body {
    font-family: sans-serif;
}

table {
    margin: 20px;
    background-color: rgb(213, 212, 212);
    color: white;
    border: 5px solid rgb(213, 212, 212);
    border-radius: 10px;
    overflow: hidden;
}

tr {
    height: 35px;
}

thead tr {
    font-weight: bold;
}

.name, thead {
    background-color: rgb(49, 189, 168);
}

td {
    width: 50px;
    border-radius: 5px;
    padding: 5px
}

.name {
    width: 150px;
    text-align: right;
    padding-right: 15px
}

.totals, tfoot {
    background-color: rgba(49, 189, 168, 0.303);
}

.totals {
    width: 90px
}